<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    {{$b:= eq 12 21}}
    {{$b}}
    {{if $b}}
    相等
    {{else}}
    不相等
    {{end}}
    {{kua .Name}}
</body>
</html>